@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px 30px 20px;
}

#home {
  display: none;
}

nav i {
  font-size: 1.5em;
  cursor: pointer;
}

footer {
  margin: 30px 20px;
}