@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px 30px 20px;
}

#home {
  display: none;
}

nav i {
  font-size: 1.5em;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  justify-content: center;
}

.ind-camp-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  margin-bottom: 20px;
}

.ind-camp-container img {
  width: 100%;
  margin-bottom: 30px;
}

.ind-camp-container h4 {
  font-size: 1.3em;
  width: 70%;
}

.description {
  margin-top: 20px;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.7);
}

.autor {
  margin-top: 30px;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.7);
}

.coments {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  margin-bottom: 20px;
}

.coment-autor {
  font-size: 1.3em;
  font-weight: 500;
  width: 70%;
}

.hour-post {
  width: 25%;
  text-align: right;
}

hr {
  width: 100%;
  margin: 25px 10px;
}

#vcamps {
  background-color: #000;
  color: #fff;
  padding: 15px;
  margin: 15px 0;
  font-size: 1.1em;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#vcamps a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

footer {
  margin: 30px 20px;
}